<body>

<div class="background">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
</div>

<div class="welcome-card">
    <img src="/TP-Final-PW2/assets/img/triviaGo.png" alt="Logo" style="width: 40%; margin-bottom: 1rem;">
    <h1>¡Bienvenido, {{nombre_usuario}}!</h1>
    <p>Nos alegra verte de nuevo 🎉</p>
    <a href="/tp-final-pw2/user/logout" class="btn-custom">Cerrar sesión</a>
</div>

</body>

