<body>

<div class="background">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
</div>

<div class="home-card">
    <img class="card-logo" src="/assets/img/triviaGo.png" alt="Logo">
    <a href="/game/singleplayer" class="btn-custom mb-3">Jugar Solitario CAMBIO</a>
    
</div>

</body>

