<body>

<div class="background">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
</div>

<div class="home-card">
    <img class="card-logo" src="/assets/img/triviaGo.png" alt="Logo">
    {{#mensajeError}}
        <div class="alert alert-danger" role="alert">{{mensajeError}}</div>
    {{/mensajeError}}
    <h1>¡Bienvenido {{nombre_usuario}} !</h1>
    <p class="card-text">Tu posición en el ranking es: {{posicion}}°</p>
    <a href="/game/singleplayer" class="btn-custom mb-3">Jugar</a>
    {{#esEditor}}
        <a href="/editor/" class="btn-custom mb-3">Panel del Editor</a>
    {{/esEditor}}
    {{#esAdmin}}
        <a href="/admin/" class="btn-custom mb-3">Panel de Administración</a>
        <a href="/editor/" class="btn-custom mb-3">Panel del Editor</a>
    {{/esAdmin}}
</div>

</body>

