<form action="/TP-Final-PW2/user/login" method="post">
    {{#error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {{/error}}
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <p>Por favor, complete este formulario para iniciar sesión.</p>
        <hr>

        <label for="usuario"><b>Usuario</b></label>
        <input type="text" placeholder="Ingrese su Usuario" name="usuario" required>

    <label for="contrasena"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese su contraseña" name="contrasena" required>

        <button type="submit" class="registerbtn">Iniciar Sesión</button>
    </div>

    <div class="container signin">
        <p>¿No tienes una cuenta? <a href="/TP-Final-PW2/user/register">Regístrate</a>.</p>
    </div>
