<div class="background">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
</div>

<div class="contenedor">

    <div class="tarjeta {{pregunta.color_categoria}}">
        <h1>Pregunta</h1>
        <p>{{pregunta.texto}}</p>

        <form action="/game/responder" id="form-pregunta" method="POST">
            <input type="hidden" name="id_pregunta" value="{{pregunta.id_pregunta}}">
            <button name="opcion" value="A">{{pregunta.opcion_a}}</button>
            <button name="opcion" value="B">{{pregunta.opcion_b}}</button>
            <button name="opcion" value="C">{{pregunta.opcion_c}}</button>
            <button name="opcion" value="D">{{pregunta.opcion_d}}</button>
        </form>
    </div>
    <p id="tiempo-restante" class="tiempo"></p>
</div>
