@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}


.home-card {
    background: white;
    border-radius: 16px;
    padding: 3rem;
    max-width: 80%;
    margin: 10vh auto;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-logo{
    width: 20%;
    margin-bottom: 1rem;
}

.home-card h1 {
    color: #4b0082;
    font-weight: 700;
    margin-bottom: 2rem;
}

.btn-custom {
    background: linear-gradient(90deg, #8338ec, #ff006e);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    padding: 0.75rem 2rem;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 0, 110, 0.4);
    text-decoration: none;
    display: inline-block;
}

.btn-custom:hover {
    transform: translateY(-4px) scale(1.05);
    background: linear-gradient(90deg, #ff006e, #fb5607);
    box-shadow: 0 6px 20px rgba(255, 0, 110, 0.5);
}

.card-text{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    border-radius: 8px;
    padding: 1rem;
    background: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .home-card {
        max-width: 90%;
        padding: 2rem;
    }
    .card-logo{
        width: 40%;
        margin-bottom: 1rem;
}
}
