.btnRegistrar{
	background-color: #3e81da;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.btnRegistrar:hover {
	background-color: #2c64ac;
	color: white;
}

.btn-custom {
	background: linear-gradient(90deg, #8338ec, #ff006e);
	border: none;
	color: white;
	font-weight: 700;
	border-radius: 12px;
	padding: 0.75rem;
	width: 100%;
	transition: 0.3s ease;
	box-shadow: 0 4px 12px rgba(255, 0, 110, 0.4);
}

.btn-custom:hover {
	transform: translateY(-4px) scale(1.05);
	background: linear-gradient(90deg, #ff006e, #fb5607);
	box-shadow: 0 6px 20px rgba(255, 0, 110, 0.5);
}


body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	background: radial-gradient(circle at top left, #ffb703, #fb8500, #ff006e);
}

.login-card {
	position: relative;
	z-index: 2;
	background: white;
	padding: 2.5rem;
	border-radius: 25px;
	box-shadow: 0 0 30px rgba(0,0,0,0.25), 0 0 30px rgba(255,255,255,0.15) inset;
	width: 50%;
	max-width: 800px;
	max-height: 85vh;
	overflow-y: auto;
	animation: pop 0.8s ease-out;
}

.login-card::-webkit-scrollbar {
	width: 8px;
}
.login-card::-webkit-scrollbar-thumb {
	background: #ff006e88;
	border-radius: 10px;
}
.login-card::-webkit-scrollbar-thumb:hover {
	background: #fb5607aa;
}

@media (max-width: 768px) {
	.login-card {
		width: 90%;
		max-height: 90vh;
		padding: 1.5rem;
	}
	form {
		grid-template-columns: 1fr;
	}
}


form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem 1.5rem;
}


form .form-label {
	font-weight: 500;
	margin-bottom: 0.3rem;
}
form .form-control {
	border-radius: 12px;
	border: 2px solid #ccc;
	transition: 0.3s;
	width: 100%;
}
form .form-control:focus {
	border-color: #8338ec;
	box-shadow: 0 0 8px #ff006e55;
}


form button {
	grid-column: span 2;
}

.login-card{
	max-width: 800px;
}

