.btnRegistrar{
	background-color: #3e81da;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.btnRegistrar:hover {
	background-color: #2c64ac;
	color: white;
}